<div id="addressbookDetailView" class="twelve columns" style="display:none">
    
    <form id="contact_edit" action="#" method="POST">    	                
                     
        <div class="row">    
            
            <div class="six columns">  
            
                <label for="contact_first_name">First Name</label>
                <input type="text" id="contact_first_name" name="contact_first_name" class="input-text" placeholder="First Name">
            
            </div>
            
            <div class="six columns">  
            
                <label for="contact_last_name">Last Name</label>
                <input type="text" id="contact_last_name" name="contact_last_name" class="input-text" placeholder="Last Name">
            
            </div>
            
            <div class="twelve columns">  
                
                <label for="contact_email">Email</label>
                <input type="text" id="contact_email" name="contact_email" class="six input-text" placeholder="Email">
            
            </div>
            
             <div class="twelve columns">  
                
                <label for="contact_organization_name">Organization</label>
                <input type="text" id="contact_organization_name" name="contact_organization_name" class="six input-text" placeholder="Organization">
            
            </div>
            
            <div class="six columns">  
            
                <label for="contact_address1">Address 1</label>
                <input type="text" id="contact_address1" name="contact_address1" class="input-text" placeholder="Address One">
            
            </div>
            
            <div class="six columns">  
            
                <label for="contact_address2">Address 2</label>
                <input type="text" id="contact_address2" name="contact_address2" class="input-text" placeholder="Address Two">
            
            </div>
            
            <div class="six columns">  
            
                <label for="contact_city">City</label>
                <input type="text" id="contact_city" name="contact_city" class="input-text" placeholder="City">
            
            </div>
            
            <div class="six columns">  
            
                <label for="contact_state">State</label>
                <input type="text" id="contact_state" name="contact_state" class="input-text" placeholder="State">
            
            </div>
            
            <div class="twelve columns">  
            
                <label for="contact_zip">Postal Code</label>
                <input type="text" id="contact_zip" name="contact_zip" class="six input-text" placeholder="Zip">
            
            </div>
            
            <div class="six columns">  
            
                <input type="hidden" id="contact_id" name="contact_id" value="" />
                
            </div>
                    
            <div class="six columns" style="text-align: right">  
            
                <input type="submit" class="small button secondary" value="Save &raquo;" />   
            
            </div>
          
        </div>
        
    </form> 
</div>

<div id="addressbookDeleteView" class="twelve columns" style="display:none">
    
    <form id="contact_delete" action="#" method="POST">    	                
                     
        <div class="row">    
            
            <div class="six columns">  
            
                <label for="contact_first_name">First Name</label>
                <input type="text" id="contact_first_name" name="contact_first_name" class="input-text" placeholder="First Name">
            
            </div>
            
            <div class="six columns">  
            
                <label for="contact_last_name">Last Name</label>
                <input type="text" id="contact_last_name" name="contact_last_name" class="input-text" placeholder="Last Name">
            
            </div>
            
            <div class="twelve columns">  
                
                <label for="contact_email">Email</label>
                <input type="text" id="contact_email" name="contact_email" class="six input-text" placeholder="Email">
            
            </div>
            
            <div class="six columns">  
            
                <input type="hidden" id="contact_id" name="contact_id" value="" />
                
            </div>
                    
            <div class="six columns" style="text-align: right">  
            
                <input type="submit" class="small button secondary" value="Delete &raquo;" />   
            
            </div>
          
        </div>
        
    </form> 
</div>

<div id="addressbookUploadView" class="twelve columns" style="display:none">
    
    <form id="contact_upload" action="#" method="POST">    	                
                     
        <div class="row">    
            
            
            <div class="twelve columns">  
                
                <div id="addressbook_import"></div>
                
            </div>
          
        </div>
        
    </form> 
</div>